APP_NAME=Tashyik
APP_ENV=local #local, staging, uploading, production
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Riyadh
APP_URL=http://dashboard.local.test

BASE_DOMAIN=local.test
DASHBOARD_SUBDOMAIN=dashboard
API_SUBDOMAIN=api

FRONTEND_URL=http://localhost:3000
FRONTEND_URLS=http://localhost:3000,http://local.test:3000

CDN_URL=http://cdn.local.test

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

DB_HOST=127.0.0.1
DB_DATABASE=tashyik
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=mailgun
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Maximum distance to the service provider in KM
SERVICE_PROVIDER_MAX_DISTANCE=10

# Service provider visit cost
SERVICE_VISIT_COST=50

# Tax rate percintage on all invoices
INVOICE_TAX_RATE=15

# Customer App
CUSTOMER_APP_VERSION=1.1.6
CUSTOMER_APP_UPDATE_REQUIRED=true
CUSTOMER_APP_URL_GOOGLE_PLAY="https://play.google.com/store/apps/details?id=com.tashyik.app"
CUSTOMER_APP_URL_APP_STORE="https://apps.apple.com/us/app/%D8%AA%D8%B4%D9%8A%D9%8A%D9%83-%D9%84%D9%84%D8%B5%D9%8A%D8%A7%D9%86%D8%A9-%D8%A7%D9%84%D9%85%D9%86%D8%B2%D9%84%D9%8A%D8%A9/id6754100648"

# Service provider App
SERVICE_PROVIDER_APP_VERSION=1.1.6
SERVICE_PROVIDER_APP_UPDATE_REQUIRED=true
SERVICE_PROVIDER_APP_URL_GOOGLE_PLAY="https://play.google.com/store/apps/details?id=com.tashyiktechnical.app"
SERVICE_PROVIDER_APP_URL_APP_STORE="https://apps.apple.com/us/app/%D8%AA%D8%B4%D9%8A%D9%8A%D9%83-%D9%81%D9%86%D9%89/id6754100703"

# Firebase
FIREBASE_CREDENTIALS=storage/app/private/google-service-account.json

# Paymob
PAYMOB_CURRENCY=EGP
PAYMOB_ENDPOINT=https://accept.paymob.com
PAYMOB_PAYMENT_METHODS=5341355,5341354,5341352,5341166,5257426
PAYMOB_API_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_SECRET_KEY=
PAYMOB_HMAC=
